<div ma-dialog-title class="institution-dialog__header">
    <div class="modal-header">
        <h2>{{ 'Update Personal' | translate}}</h2>
        <a [mat-dialog-close]="false" class="close-icon">
            <mat-icon>close</mat-icon>
        </a>
    </div>
</div>

<mat-dialog-content class="mat-typography institution-dialog__content">
    <form #personalForm='ngForm' (ngSubmit)="onSave(personalForm)">
        <div class="form-group">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'First Name' | translate }}</mat-label>
                <input matInput type="text" name="FirstName" #FirstName="ngModel" [(ngModel)]="personal.FirstName">
                <mat-error *ngIf="FirstName.invalid&&FirstName.touched">
                    {{ 'First Name field must be filled' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'Last Name' | translate }}</mat-label>
                <input matInput type="text" name="LastName" #LastName="ngModel" [(ngModel)]="personal.LastName">
                <mat-error *ngIf="LastName.invalid&&LastName.touched">
                    {{ 'Last Name field must be filled' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'Address' | translate }}</mat-label>
                <input matInput type="text" name="Address" #Address="ngModel" [(ngModel)]="personal.Address">
                <mat-error *ngIf="Address.invalid&&Address.touched">
                    {{ 'Address field must be filled' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'Phone' | translate }}</mat-label>
                <input matInput type="text" name="Phone" #Phone="ngModel" [(ngModel)]="personal.Phone">
                <mat-error *ngIf="Phone.invalid&&Phone.touched">
                    {{ 'Phone field must be filled' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'Date Of Birth' | translate }}</mat-label>
                <input matInput type="text" name="DateOfBirth" #DateOfBirth="ngModel"
                    [(ngModel)]="personal.DateOfBirth">
                <mat-error *ngIf="DateOfBirth.invalid&&DateOfBirth.touched">
                    {{ 'Date Of Birth field must be filled' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'Description' | translate }}</mat-label>
                <textarea rows="5" matInput type="text" name="Description" #Description="ngModel"
                    [(ngModel)]="personal.Description"></textarea>
                <mat-error *ngIf="Description.invalid&&Description.touched">
                    {{ 'Description field must be filled' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'Drivers Licence' | translate }}</mat-label>
                <input matInput type="text" name="DriversLicense" #DriversLicense="ngModel"
                    [(ngModel)]="personal.DriversLicense">
                <mat-error *ngIf="DriversLicense.invalid&&DriversLicense.touched">
                    {{ 'Drivers License field must be filled' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'Email' | translate }}</mat-label>
                <input matInput type="text" name="EmailAddress" #EmailAddress="ngModel"
                    [(ngModel)]="personal.EmailAddress">
                <mat-error *ngIf="EmailAddress.invalid&&EmailAddress.touched">
                    {{ 'Email Address field must be filled' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'Marital Status' | translate }}</mat-label>
                <input matInput type="text" name="MaritalStatus" #MaritalStatus="ngModel"
                    [(ngModel)]="personal.MaritalStatus">
                <mat-error *ngIf="MaritalStatus.invalid&&MaritalStatus.touched">
                    {{ 'Marital Status field must be filled' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'Military Status' | translate }}</mat-label>
                <input matInput type="text" name="MilitaryStatus" #MilitaryStatus="ngModel"
                    [(ngModel)]="personal.MilitaryStatus">
                <mat-error *ngIf="MilitaryStatus.invalid&&MilitaryStatus.touched">
                    {{ 'Military Status field must be filled' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'Nationality' | translate }}</mat-label>
                <input matInput type="text" name="Nationality" #Nationality="ngModel"
                    [(ngModel)]="personal.Nationality">
                <mat-error *ngIf="Nationality.invalid&&Nationality.touched">
                    {{ 'Nationality field must be filled' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'Web Site' | translate }}</mat-label>
                <input matInput type="text" name="Website" #Website="ngModel" [(ngModel)]="personal.Website">
                <mat-error *ngIf="Website.invalid&&Website.touched">
                    {{ 'Website field must be filled' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <button type="submit" class="btn btn-info w-100">{{'Save'| translate}}</button>
    </form>
</mat-dialog-content>