<div ma-dialog-title class="institution-dialog__header">
    <div class="modal-header">
        <h2>{{ 'Add Competency' | translate}}</h2>
        <a [mat-dialog-close]="false" class="close-icon">
            <mat-icon>close</mat-icon>
        </a>
    </div>
</div>

<mat-dialog-content class="mat-typography institution-dialog__content">
    <form #competencyForm='ngForm' (ngSubmit)="onSave(competencyForm)">
        <div class="form-group mt-2">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'Competencies' | translate }}</mat-label>
                <input matInput type="text" placeholder="{{ 'Enter Competencies' | translate }}"
                    pattern="^[A-Za-zÇçÖöŞşÜüĞğİı ]+$" name="Competencies" #Competencies="ngModel" [(ngModel)]="competency.Competencies"
                    required>
                <mat-error *ngIf="Competencies.invalid&&Competencies.touched">
                    {{ 'Competencies field must be filled' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <button type="submit" class="btn btn-info w-100">{{'Save'| translate}}</button>
    </form>
</mat-dialog-content> 
