<div ma-dialog-title class="institution-dialog__header">
    <div class="modal-header">
        <h2>{{ 'Add Education İnformation' | translate}}</h2>
        <a [mat-dialog-close]="false" class="close-icon">
            <mat-icon>close</mat-icon>
        </a>
    </div>
</div>

<mat-dialog-content class="mat-typography institution-dialog__content">
    <form #educationInformationForm='ngForm' (ngSubmit)="onSave(educationInformationForm)">
        <div class="form-group mt-2">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'School Name' | translate }}</mat-label>
                <input matInput type="text" placeholder="{{ 'Enter School Name' | translate }}"
                    pattern="^[A-Za-zÇçÖöŞşÜüĞğİı ]+$" name="SchoolName" #SchoolName="ngModel"
                    [(ngModel)]="educationInformation.SchoolName" required>
                <mat-error *ngIf="SchoolName.invalid&&SchoolName.touched">
                    {{ 'School Name field must be filled' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'School Status' | translate }}</mat-label>
                <input matInput type="text" placeholder="{{ 'Enter School Status' | translate }}" name="SchoolStatus"
                    #SchoolStatus="ngModel" [(ngModel)]="educationInformation.SchoolStatus" required>
                <mat-error *ngIf="SchoolStatus.invalid&&SchoolStatus.touched">
                    {{ 'School Status field must be filled' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'Section Name' | translate }}</mat-label>
                <input matInput type="text" placeholder="{{ 'Enter Section Name' | translate }}" name="SectionName"
                    #SectionName="ngModel" [(ngModel)]="educationInformation.SectionName" required>
                <mat-error *ngIf="SectionName.invalid&&SectionName.touched">
                    {{ 'Section Name field must be filled' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'Entry Date' | translate }}</mat-label>
                <input matInput type="text" placeholder="{{ 'Enter Entry Date' | translate }}" name="EntryDate"
                    #EntryDate="ngModel" [(ngModel)]="educationInformation.EntryDate" required>
                <mat-error *ngIf="EntryDate.invalid&&EntryDate.touched">
                    {{ 'Entry Date field must be filled' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'End Date' | translate }}</mat-label>
                <input matInput type="text" placeholder="{{ 'Enter End Date' | translate }}" name="EndDate"
                    #EndDate="ngModel" [(ngModel)]="educationInformation.EndDate" required>
                <mat-error *ngIf="EndDate.invalid&&EndDate.touched">
                    {{ 'End Date field must be filled' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <button type="submit" class="btn btn-info w-100">{{'Save'| translate}}</button>
    </form>
</mat-dialog-content>
